#about .container {
  width: 1200px;
  margin: 0 auto; }
  #about .container .about-top {
    padding: 43px 0 35px 0;
    border-bottom: 1px solid #EEEEEE; }
    #about .container .about-top ul li {
      float: left;
      width: 148px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border: 1px solid #EEEEEE;
      font-size: 16px;
      margin-right: 10px;
      color: #333; }
      #about .container .about-top ul li.active {
        color: #20CA70;
        border: 1px solid #20CA70; }
  #about .container .about-bottom > .about-all > li {
    float: left;
    padding: 45px 0 82px; }
    #about .container .about-bottom > .about-all > li:nth-child(1) {
      border-bottom: 2px solid #F2F3F4;
      border-top: 2px solid #F2F3F4;
      font-size: 16px;
      letter-spacing: 4px;
      line-height: 30px;
      text-indent: 50px;
      text-align: justify; }
      #about .container .about-bottom > .about-all > li:nth-child(1) p {
        margin-bottom: 20px; }
    #about .container .about-bottom > .about-all > li:nth-child(2) {
      display: none; }
      #about .container .about-bottom > .about-all > li:nth-child(2) .comtact-msg {
        width: 1200px;
        height: 112px;
        border-top: 0.5px solid #EEEEEE;
        border-bottom: 0.5px solid #EEEEEE;
        box-sizing: border-box;
        margin-bottom: 30px; }
        #about .container .about-bottom > .about-all > li:nth-child(2) .comtact-msg li {
          float: left;
          width: 299px;
          height: 110px;
          background-color: #F9F9F9;
          border: 0.25px solid #EEEEEE; }
          #about .container .about-bottom > .about-all > li:nth-child(2) .comtact-msg li p {
            text-align: center; }
            #about .container .about-bottom > .about-all > li:nth-child(2) .comtact-msg li p:first-child {
              font-size: 16px;
              color: #333;
              margin-top: 34px; }
            #about .container .about-bottom > .about-all > li:nth-child(2) .comtact-msg li p:last-child {
              font-size: 14px;
              color: #666;
              margin-top: 14px; }
      #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li {
        float: left;
        margin: 0  30px 20px 0; }
        #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li label {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          color: #333;
          display: block; }
        #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li input {
          width: 198px;
          height: 36px;
          border: 1px solid #EEEEEE;
          text-indent: 10px; }
        #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li textarea {
          width: 1200px;
          height: 98px;
          border: 1px solid #EEEEEE;
          resize: none; }
        #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li:last-child {
          width: 1200px;
          overflow: hidden;
          margin: 0; }
          #about .container .about-bottom > .about-all > li:nth-child(2) .feedback .write-msg li:last-child button {
            width: 98px;
            height: 34px;
            line-height: 34px;
            border-right: 3px;
            border: 1px solid #EEEEEE;
            background: #fff;
            font-size: 14px;
            float: right;
            cursor: pointer; }
    #about .container .about-bottom > .about-all > li:nth-child(3) {
      display: none; }
      #about .container .about-bottom > .about-all > li:nth-child(3) ul {
        margin-top: 40px; }
        #about .container .about-bottom > .about-all > li:nth-child(3) ul li {
          margin-bottom: 40px; }
          #about .container .about-bottom > .about-all > li:nth-child(3) ul li p {
            font-size: 16px;
            line-height: 22px;
            color: #061027; }
            #about .container .about-bottom > .about-all > li:nth-child(3) ul li p a {
              color: #1CB162; }
            #about .container .about-bottom > .about-all > li:nth-child(3) ul li p:first-child {
              margin-bottom: 40px; }
    #about .container .about-bottom > .about-all > li:nth-child(4) {
      display: none; }

/*# sourceMappingURL=about.css.map */
