.rise_fall .container {
  width: 1200px;
  margin: 0 auto; }
  .rise_fall .container .r_title {
    height: 63px;
    line-height: 63px;
    text-indent: 23px;
    position: relative;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 53px;
    border-bottom: 1px solid #EEEEEE; }
    .rise_fall .container .r_title:before {
      content: "";
      width: 2px;
      height: 25px;
      background: #20ca70;
      position: absolute;
      left: 0;
      top: 20px; }
  .rise_fall .container .btn-box {
    padding: 20px 0; }
    .rise_fall .container .btn-box > div:first-child {
      float: left; }
      .rise_fall .container .btn-box > div:first-child button {
        width: 150px;
        height: 40px;
        line-height: 40px;
        background: none;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        font-size: 16px;
        color: #333; }
        .rise_fall .container .btn-box > div:first-child button.active {
          border-color: #20CA70;
          color: #20CA70; }
    .rise_fall .container .btn-box > div:last-child {
      float: right;
      position: relative; }
      .rise_fall .container .btn-box > div:last-child > button {
        width: 80px;
        height: 40px;
        line-height: 40px;
        background: none;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        overflow: hidden; }
        .rise_fall .container .btn-box > div:last-child > button:hover {
          border: 1px solid #1CB162;
          color: #1CB162; }
        .rise_fall .container .btn-box > div:last-child > button.active {
          border-color: #20CA70;
          color: #20CA70; }
        .rise_fall .container .btn-box > div:last-child > button:first-child {
          width: 150px; }
          .rise_fall .container .btn-box > div:last-child > button:first-child i {
            display: inline-block;
            width: 8px;
            height: 5px;
            background: url(../img/sprite.png) -171px -124px no-repeat;
            margin-left: 6px;
            vertical-align: middle; }
      .rise_fall .container .btn-box > div:last-child .choose-langs {
        padding: 21px 38px;
        width: 540px;
        height: 180px;
        box-sizing: border-box;
        background: #FFFFFF;
        position: absolute;
        top: 50px;
        right: 250px;
        border-radius: 5px;
        box-shadow: 5px 0px 15px rgba(102, 102, 102, 0.1);
        z-index: 9;
        display: none; }
        .rise_fall .container .btn-box > div:last-child .choose-langs button {
          width: 148px;
          height: 38px;
          line-height: 38px;
          color: #666666;
          border: 1px solid #E5E5E5;
          border-radius: 5px;
          background: none;
          margin-bottom: 12px;
          cursor: pointer; }
          .rise_fall .container .btn-box > div:last-child .choose-langs button:nth-child(2n), .rise_fall .container .btn-box > div:last-child .choose-langs button:nth-child(2n+1) {
            margin-right: 8px; }
          .rise_fall .container .btn-box > div:last-child .choose-langs button:nth-child(3n) {
            margin-right: 0; }
          .rise_fall .container .btn-box > div:last-child .choose-langs button:hover {
            border: 1px solid #1CB162;
            color: #1CB162; }
  .rise_fall .container .table {
    margin-bottom: 80px; }
    .rise_fall .container .table .not_data {
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      display: none; }
    .rise_fall .container .table table {
      font-size: 16px;
      border: 1px solid #DDDDDD; }
      .rise_fall .container .table table tr {
        width: 1198px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #DDDDDD; }
        .rise_fall .container .table table tr:first-child {
          background-color: #3D3E49 !important;
          color: #FFFFFF; }
        .rise_fall .container .table table tr:nth-child(2n) {
          background-color: #FAFAFA; }
        .rise_fall .container .table table tr:nth-child(2n+1) {
          background-color: #FFFFFF; }
        .rise_fall .container .table table tr:nth-child(2) td:first-child {
          color: #ECC169; }
        .rise_fall .container .table table tr:nth-child(3) td:first-child {
          color: #A6B4B4; }
        .rise_fall .container .table table tr:nth-child(4) td:first-child {
          color: #E18260; }
        .rise_fall .container .table table tr:nth-child(2) td:first-child span {
          background-color: #ECC169 !important; }
        .rise_fall .container .table table tr:nth-child(3) td:first-child span {
          background-color: #A6B4B4 !important; }
        .rise_fall .container .table table tr:nth-child(4) td:first-child span {
          background-color: #E18260 !important; }
        .rise_fall .container .table table tr td:nth-child(1), .rise_fall .container .table table tr th:nth-child(1) {
          width: 80px;
          text-align: center; }
        .rise_fall .container .table table tr td:nth-child(2), .rise_fall .container .table table tr th:nth-child(2) {
          width: 317px;
          text-align: left; }
        .rise_fall .container .table table tr td:nth-child(3), .rise_fall .container .table table tr th:nth-child(3) {
          width: 200px;
          text-align: center; }
          .rise_fall .container .table table tr td:nth-child(3):first-child, .rise_fall .container .table table tr th:nth-child(3):first-child {
            color: #E18260; }
        .rise_fall .container .table table tr td:nth-child(4), .rise_fall .container .table table tr th:nth-child(4) {
          width: 200px;
          text-align: center; }
        .rise_fall .container .table table tr td:nth-child(5), .rise_fall .container .table table tr th:nth-child(5) {
          width: 200px;
          text-align: center; }
        .rise_fall .container .table table tr td:nth-child(6), .rise_fall .container .table table tr th:nth-child(6) {
          width: 200px;
          text-align: center; }
        .rise_fall .container .table table tr td img, .rise_fall .container .table table tr th img {
          vertical-align: middle;
          margin-right: 10px;
          width: 26px;
          height: 26px; }
        .rise_fall .container .table table tr td span, .rise_fall .container .table table tr th span {
          display: inline-block;
          width: 200px;
          height: 50px;
          line-height: 51px;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
          .rise_fall .container .table table tr td span.rise, .rise_fall .container .table table tr th span.rise {
            color: #1CB162; }
          .rise_fall .container .table table tr td span.fall, .rise_fall .container .table table tr th span.fall {
            color: #EF415E; }
          .rise_fall .container .table table tr td span a, .rise_fall .container .table table tr th span a {
            color: #000; }
        .rise_fall .container .table table tr td .num, .rise_fall .container .table table tr th .num {
          display: inline-block;
          width: 26px !important;
          height: 20px;
          line-height: 20px !important;
          background-color: #BFBFBF;
          color: #FFFFFF;
          border-radius: 3px;
          font-size: 14px; }

/*# sourceMappingURL=riseFall.css.map */
