.rise_fall {
    .container {
        width: 1200px;
        margin: 0 auto;
        .r_title {
            height: 63px;
            line-height: 63px;
            text-indent: 23px; 
            position: relative ;
            font-size: 24px;
            font-weight: bolder ;
            margin-top:53px ;
            border-bottom: 1px solid #EEEEEE;
            &:before {
                content : "" ;
                width:2px;
                height:25px;
                background:rgba(32,202,112,1);
                position: absolute;
                left: 0;
                top: 20px;
            }   
        }
        .btn-box {
            padding: 20px 0;
            & > div {
                &:first-child {
                    float: left;
                    button {
                        width:150px;
                        height:40px;
                        line-height: 40px;
                        background: none;
                        border: 1px solid #E5E5E5;
                        border-radius:5px;
                        font-size: 16px;
                        color: #333;
                        &.active {
                            border-color: #20CA70;
                            color: #20CA70;
                        }
                    }
                }
                &:last-child {
                    float: right;
                    position: relative;
                    & > button {
                        width: 80px;
                        height:40px;
                        line-height: 40px;
                        background: none;
                        border: 1px solid #E5E5E5;
                        border-radius:5px;
                        font-size: 16px;
                        color: #333;
                        cursor: pointer;
                        overflow:hidden; 
                        &:hover {
                            border: 1px solid #1CB162;
                            color: #1CB162;
                        }
                        &.active {
                            border-color: #20CA70;
                            color: #20CA70;
                        }
                        &:first-child {
                            width: 150px;
                            i {
                                display: inline-block;
                                width: 8px;
                                height: 5px;
                                background: url(../img/sprite.png) -171px -124px no-repeat ;
                                margin-left: 6px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .choose-langs {
                        padding: 21px 38px;
                        width: 540px;
                        height: 180px;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        position: absolute;
                        top: 50px;
                        right: 250px;
                        border-radius: 5px ;
                        box-shadow:5px 0px 15px rgba(102,102,102,0.1) ;
                        z-index: 9;
                        display: none;
                        button {
                            width: 148px;
                            height: 38px;
                            line-height: 38px;
                            color: #666666;
                            border:1px solid #E5E5E5 ;
                            border-radius: 5px;
                            background: none;
                            margin-bottom: 12px;
                            cursor: pointer;
                            &:nth-child(2n),&:nth-child(2n+1){
                                margin-right: 8px;
                            }
                            &:nth-child(3n){
                                margin-right: 0;
                            }
                            &:hover {
                                border: 1px solid #1CB162;
                                color: #1CB162;
                            }
                        }
                    }
                }
            }
        }
        .table {
            margin-bottom: 80px;
            .not_data {
                width: 100%;
                height: 80px;
                line-height: 80px;
                text-align: center;
                display: none;
            }
            table {
                font-size: 16px;
                border: 1px solid #DDDDDD ;
                tr {
                    width: 1198px;
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #DDDDDD ;
                    &:first-child {
                        background-color: #3D3E49!important;
                        color: #FFFFFF;
                    }
                    &:nth-child(2n){
                        background-color: #FAFAFA;
                    }
                    &:nth-child(2n+1){
                        background-color: #FFFFFF;
                    }
                    &:nth-child(2) {
                        td:first-child {
                            color: #ECC169;
                        }
                    }
                    &:nth-child(3) {
                        td:first-child {
                            color: #A6B4B4;
                        }
                    }
                    &:nth-child(4) {
                        td:first-child {
                            color: #E18260;
                        }
                    }
                    &:nth-child(2) {
                        td {
                            &:first-child {
                                span {
                                    background-color: #ECC169!important;
                                }
                            }
                            
                        }
                    }
                    &:nth-child(3) {
                        td {
                            &:first-child {
                                span {
                                    background-color: #A6B4B4!important;
                                }
                            }  
                        }
                    }
                    &:nth-child(4) {
                        td {
                            &:first-child {
                                span {
                                    background-color: #E18260!important;
                                }
                            }  
                        }
                    }
                    td,th {
                        &:nth-child(1){
                            width: 80px;
                            text-align: center;
                            
                        }
                         &:nth-child(2){
                            width: 317px;
                            text-align: left;
                        }
                        &:nth-child(3){
                            width: 200px;
                            text-align: center;
                            &:first-child {
                                color: #E18260;
                            }
                        }
                        &:nth-child(4){
                            width: 200px;
                            text-align: center;
                        }
                        &:nth-child(5){
                            width: 200px;
                            text-align: center;
                        }
                        &:nth-child(6){
                            width: 200px;
                            text-align: center;
                        }
                        img {
                            vertical-align: middle;
                            margin-right: 10px;
                            width: 26px;
                            height: 26px;
                        }
                        span {
                            display: inline-block;
                            width: 200px;
                            height: 50px;
                            line-height: 51px;
                            vertical-align: middle;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            &.rise {
                                    color: #1CB162;
                                }
                            &.fall {
                                color: #EF415E;
                            }
                            a {
                                color: #000;
                            }
                        }
                        .num {
                            display: inline-block;
                            width: 26px!important;
                            height: 20px;
                            line-height: 20px!important;
                            background-color: #BFBFBF;
                            color: #FFFFFF;
                            border-radius:3px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
}
